.logo{
  vertical-align: middle;
  display: inline-block;
  width: 100.18px;
  margin-left: 30px;
}

.navbar{
  display: inline-block;
}

.span1{
  color: #EE4036;
}

.navbar-li{
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
  font-size: 22px;
}

a{
  text-decoration: none;
}

.box1{
  background-color:#E6E6E6;
  height: 570px;
  width: 1292px;
  margin-top: 30px;
}


.text-box{
  display: inline-block;
  margin-left: 40px;
  vertical-align: top;

}

.sakontaqto{
  font-size: 20px;
  color: #3D58A6;
}


.section1{
  display: inline-block;
  margin-top: 30px;
}

.section2{
  display: inline-block;
  margin-top: 10px;
}



.map{
  display: inline-block;
  margin-top: 30px;
  margin-left: 56px;
  vertical-align: top;
}



span{
  color:gray;
}



.footer
{
  margin-top: 68px;
  height: 22px;
  width: 1px;
  display: inline-block;
  border-right: 0.5px solid black;
  background-color: white;

}

.fb{
  margin-top: 68px;
  display: inline-block;
  margin-left: 20px;
  margin-bottom: 24px;
}

.youtube{
  margin-top: 68px;
  display: inline-block;
  margin-bottom: 24px;
}
